/* Reset Global*/

/* Estrutura base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Comportamento */
html {
  scroll-behavior: smooth;
}

/* Corpo */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: var(--bg-main);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Imagens */
img {
  max-width: 100%;
  display: block;
}

/* Botões */
button {
  cursor: pointer;
  border: none;
  background: none;
}
