/* Variáveis utilitárias */

$font-main: 'Roboto', sans-serif;
$radius: 10px;
$shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.08);
$transition: 0.3s ease-in-out;

/* Espaçamento */
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 40px;

/* Layout */
$max-width: 1200px;
